/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 2.6;
    background-image:url(https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=740&t=st=1720958854~exp=1720959454~hmac=666897efa6715fc1537333cdf16484745b38b6a60081d8b1ce2f4496f1b863f0);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img{
    position: relative;
    height: 100px;
    top: 8px;
    margin-bottom: 10px;
}
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px ;
    text-align: center;
}

header h1 {
    margin-top:17px;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: absolute; */
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, #button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"], button {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#logout {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#logout:hover{
    background-color: #45a049;
}
.button-box {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.button-box .btn {
    width: 200px;
}
div.container, .form-container input, .container table, .table thead th {
    background-color: rgba(0,0,0,.3);
}

.hidden {
    display: none;
}
.form-container {
    width: 700px;
    margin: 0 auto;
}
.button-box button {
    width: 150px;
}
.form-container table {
    margin: 0 auto;
}
.form-container h2, .form-container label, .container h2{
    color: #ffffff;
}